---
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import ReleasesDropdown from "../components/ReleasesDropdown.astro"
---

<html>
  <body class="bg-[#ffe900] text-black min-h-screen">
    <Navbar />
    <Hero />
    <ReleasesDropdown/>
  </body>
</html>
