---
import Hero from '../components/Hero.astro';
import NewNavbar from '../components/NewNavbar.astro';
import ReleasesDropdown from "../components/ReleasesDropdown.astro"
import OlderVersions from "../components/OlderVersions.astro"
---

<html>
  <body class="bg-yellow-400 text-black min-h-screen">
    <NewNavbar />
    <Hero />
    <ReleasesDropdown/>
	<OlderVersions />
  </body>
</html>
