<html>
  <body>
    <section class="text-center py-12 bg-[#ffe900] text-black">
      <div class="text-[8vh] mt-8 font-bold">
        Choose your platform & <br> download
      </div>
    </section>
  </body>
</html>
