<html>
  <body>
    <nav class="flex justify-between items-center p-4  text-black border-b border-black">
      <div class="text-lg font-bold">Vishu</div>
      <ul class="flex space-x-4">
        <li><a href="#" class="hover:text-gray-700">Pricing</a></li>
        <li><a href="#" class="hover:text-gray-700">Docs</a></li>
        <li><a href="#" class="hover:text-gray-700">Blog</a></li>
        <li><a href="#" class="hover:text-gray-700">Company</a></li>
        <li><a href="#" class="hover:text-gray-700">Support</a></li>
      </ul>
      <button class="bg-black text-[#ffe900] px-4 py-2 rounded hover:bg-gray-900">
        Login
      </button>
    </nav>
  </body>
</html>
